@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
  } 

  body{
    line-height: 1.5;
}

header{
      height:55vh;
      overflow: hidden;
  }

section{
    overflow: hidden;
    margin-top: 20px;
}

.vUS{
    height: 10vh;
    padding: 1vh;
}

.vUS h3{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

.vistUS{
    height: 50vh;
}

.room-bg{
    height: 50vh;
    overflow: visible;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),url('../images/hall.jpg');
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.room-bg h3{
    font-size: 1.3rem;
    font-weight: 400;
}
.room-bg h2{
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
}
.line div{
    margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3){
    height: 3px;
    width: 70px;
    background: #996F22;
    border-radius: 5px;
}
.line{
    display: flex;
    align-items: center;
}
.line div:nth-child(2){
    width: 10px;
    height: 10px;
    background: #996F22;
    border-radius: 50%;
}
.text{
    font-weight: 300;
    opacity: 0.9;
}
.room-bg .text{
    margin: 1.6rem 0;
}



.section-seperator .divider {
    position: relative;
    border-bottom: 3px solid #996F22;
    margin-bottom: 0px;
    margin-top: 30px;
  }
  
  .section-seperator .divider:before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    border: 1px solid #9a732a;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    background: #fff;
    margin-top: -15px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .section-seperator .divider:after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #996F22;
    left: 50%;
    margin-left: -10px;
    top: 50%;
    background: #996F22;
    margin-top: -10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  


new part
.card-wrapper{
    width: 100%;
    background: #0f0d0a;
    border-radius: 10px;
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
    height: 55vh;
}
.img-showcase{
    display: flex;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}


.room{
    padding-top: 40px;
    background: #0f0d0a;
    padding-bottom: 25px;
    color: #fff;
}
.room-text{
    padding: 5px 20px;
}
.room-text h3{
    font-size: 24px;
}
.room-text ul{
    list-style-type: none;
    margin: 15px 0;
}
.room-text ul li{
    padding: 7px 0;
}
.room-text ul li i{
    color: var(--yellow);
    margin-right: 10px;
}
.rate{
    opacity: 0.8;
}
.rate span{
    font-size: 40px;
    font-weight: 900;
    color: var(--yellow);
}
.room-image{
    overflow: hidden;
    width: 100%;
    display: block;
}
.btn{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 140px;
    display: block;
    margin: 15px auto;
    cursor: pointer;
    transition: var(--transition);
}
.btn:hover{
    opacity: 0.85;
}

  @media screen and (min-width: 10px){
    .room-bg .text{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .vistUS{
        height: 80vh;
        overflow: overlay;
    }


}

  @media screen and (min-width: 670px){
    .room-bg .text{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .vistUS{
        height: 60vh;
        overflow: overlay;
    }


}

@media screen and (min-width: 768px){
    .contact-bg .text{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .vistUS{
        height: 60vh;
        overflow: overlay;
    }


}

@media screen and (min-width: 992px){
    .room-bg .text{
        width: 50%;
    }
    .vistUS{
        height: 60vh;
        overflow: overlay;
    }

}

@media screen and (min-width: 1200px){
    .vistUS{
        height: 40vh;
    }

}

@media screen and (min-width: 1800px){
    .vistUS{
        height: 40vh;
    }

}