*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
  } 

  header{
      height: 50vh;
      overflow: hidden;
  }

  section{
    height: 100vh;
    overflow: hidden;
}

body{
    align-items: center;
    justify-content: center;
}
.galleryslider{
    position: absolute;
    width: 40%;
    height: 75%;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

.data{
    width: 50%
}

.dGallery{
    display: block;
}

.galleryslider span{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}

.galleryslider span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
}

.galleryslider span:hover img{
    transform: translateY(-50px);
}
@keyframes rotate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}

