@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

:root {
  --transition: all 0.7s ease;
  --yellow: #f9d342;
  --dark: #292826;
}

html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.6;
}
.btn {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 140px;
  display: block;
  margin: 15px auto;
  cursor: pointer;
  transition: var(--transition);
}
.btn:hover {
  opacity: 0.85;
}

h1,
h3,
h4,
h5,
h6 {
  padding: 8px 0;
}
img {
  width: 100%;
  display: block;
}
@media (max-width: 500px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .title h2 {
    font-size: 3rem !important;
  }
}
@media (max-width: 500px) {
  .title h2 {
    font-size: 2rem;
  }
}
