.section-seperator .divider {
  position: relative;
  border-bottom: 3px solid #996F22;
  margin-bottom: 0px;
  margin-top: 30px;
}

.section-seperator .divider:before {
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  border: 1px solid #9a732a;
  left: 50%;
  margin-left: -15px;
  top: 50%;
  background: #fff;
  margin-top: -15px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.section-seperator .divider:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #996F22;
  left: 50%;
  margin-left: -10px;
  top: 50%;
  background: #996F22;
  margin-top: -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



/*room part*/
.card-wrapper{
  width: 100%;
  border-radius: 10px;
}
.room img{
  width: 100%;
  display: block;
}
.img-display{
  overflow: hidden;
  height: 55vh;
}
.img-showcase1{
  display: flex;
  transition: all 0.5s ease;
}
.img-showcase1 img{
  min-width: 100%;
}
.img-showcase2{
display: flex;
transition: all 0.5s ease;
}
.img-showcase2 img{
min-width: 100%;
}
.img-showcase3{
display: flex;
transition: all 0.5s ease;
}
.img-showcase3 img{
min-width: 100%;
}
.img-showcase4{
display: flex;
transition: all 0.5s ease;
}
.img-showcase4 img{
min-width: 100%;
}
.img-select1,.img-select2,.img-select3,.img-select4{
  display: flex;
}
.img-item{
  margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
  margin-right: 0;
}
.img-item:hover{
  opacity: 0.8;
}
.product-content{
  padding: 2rem 1rem;
}
.product-title{
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}

.room{
  padding-top: 40px;
  padding-bottom: 25px;
  color: #000;
}
.room-text{
  padding: 5px 20px;
}
.room-text h3{
  font-size: 24px;
}
.room-text ul{
  list-style-type: none;
  margin: 15px 0;
}
.room-text ul li{
  padding: 7px 0;
}
.room-text ul li i{
  color: var(--yellow);
  margin-right: 10px;
}
.rate{
  opacity: 0.8;
}
.rate span{
  font-size: 40px;
  font-weight: 900;
  color: var(--yellow);
}
.room-image{
  margin: 0 50px 50px 50px;overflow: hidden;
  width: 100%;
  display: block;
}
.btn{
  font-size: 16px;
  background: #996F22;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 140px;
  display: block;
  margin: 15px auto;
  cursor: pointer;
  transition: var(--transition);
}
.btn:hover{
  opacity: 0.85;
}


@media (min-width: 900px){
  .rooms-container{
      display: flex;
      flex-wrap: wrap;
  }
  .room{
      flex: 0 0 calc(50% - 20px);
  }
}

@media screen and (min-width: 992px){
  .room-bg .text{
      width: 50%;
  }


}


@media(min-width: 1370px){
  .rooms-container{
      flex-direction: column;
  }
  .room{
      display: flex;
      padding-bottom: 0;
  }
  .room-image{
      flex: 1;
  }
  .room-image img{
      height: 100%;
  }
  .room-text{
      flex: 1;
  }
  .room:nth-child(even){
      flex-direction: row-reverse;
  }
}

.container-form{
  position: relative;
  left: 30%;
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  display: none;
}
.container-form .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container-form .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.rooms-num{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.rooms-num:focus,
.rooms-num:valid{
  border-color: #9b59b6;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
 .container-form{
  max-width: 100%;
}
.container-form{
  position: relative;
  left: 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container-form .content .category{
    flex-direction: column;
  }
  .container-form{
      position: relative;
      left: 0;
  }
}

.thank-u{
    width: 400px;
    background:#fff;
    border-radius: 6px;
    position: relative;
    left: 50%;
    top: 150px;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    display: none;
}
.thank-u h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.thank-u button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}