@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
  } 

  html,
  body{
    line-height: 1.5;
    height:auto!important;
    min-height:100vh;
}

header{
      height: 55vh;
  min-height: 300px;}

section{
    overflow: hidden;
}

.vUS{
    height: 10vh;
    padding: 1vh;
}

.vUS h3{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

.vistUS{
    height: -14vh;
}

.contact-bg{
    min-height: 300px;height: 50vh;
    overflow: visible;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),url('../images/hall.jpg');
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.contact-bg h3{
    font-size: 1.3rem;
    font-weight: 400;
}
.contact-bg h2{
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
}

.dm-btn{
    min-width: 200px;margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: #996F22;
    opacity: 1;
    border:  1px solid #4a360f;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
    width: 30%;
    font-weight: bolder;
}
.dm-btn:hover{
    background-color: #be7b00;
}

.line div{
    margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3){
    height: 3px;
    width: 70px;
    background: #996F22;
    border-radius: 5px;
}
.line{
    display: flex;
    align-items: center;
}
.line div:nth-child(2){
    width: 10px;
    height: 10px;
    background: #996F22;
    border-radius: 50%;
}
.text{
    font-weight: 300;
    opacity: 0.9;
}
.contact-bg .text{
    margin: 1.6rem 0;
}

.contactSection{
    background-color: rgba(14, 10, 1, 0.9);
    padding-top: 80px;
}
.contact-body{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.contact-info{
    height: 28vh;
    margin: 0 0 1rem 0;
    text-align: center;
    align-items: center;
}
.contact-info span{
    display: block;
}
.contact-info div{
    margin: 0.8rem 0;
    padding: 1rem;
}
.contact-info span .fas{
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: #996F22;
}
.contact-info div span:nth-child(2){
    font-weight: 500;
    font-size: 1.1rem;
}
.contact-info .text{
    padding-top: 0.4rem;
}

.section-seperator .divider {
    position: relative;
    border-bottom: 3px solid #996F22;
    margin-bottom: 0px;
    margin-top: 30px;
  }
  
  .section-seperator .divider:before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    border: 1px solid #9a732a;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    background: #fff;
    margin-top: -15px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .section-seperator .divider:after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #996F22;
    left: 50%;
    margin-left: -10px;
    top: 50%;
    background: #996F22;
    margin-top: -10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  

  @media screen and (min-width: 10px){
    .contact-bg .text{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .vistUS{
        min-height: 562px;height: auto;
    }


}

  @media screen and (min-width: 670px){
    .contact-bg .text{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .vistUS{
        min-height: 206px;/* height: 400px; */
    }


}

@media screen and (min-width: 768px){
    .contact-bg .text{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .vistUS{
        /* height: 400px; */
    }
}

@media screen and (min-width: 992px){
    .contact-bg .text{
        width: 50%;
    }
    .vistUS{
        /* height: 400px; */
    }

}

@media screen and (min-width: 1200px){
    .contact-info{
        grid-template-columns: repeat(4, 1fr);
    }

    .contact-info span .fas{
        font-size: 2rem;
        padding-bottom: 0.9rem;
        color: #996F22;
    }
    .vistUS{
        height: 40vh;
    }

}

@media screen and (min-width: 1800px){
    .contact-info{
        grid-template-columns: repeat(4, 1fr);
    }
    .contact-info span .fas{
        font-size: 3rem;
        padding-bottom: 0.9rem;
        color: #996F22;
    }
    .vistUS{
        height: 40vh;
    }

}